.logo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #eee;
}

.logo-wrapper img{
    max-height: 100%;
    max-width: 100%;

}